:root {
    --purple: #670e94;
    --lilac: #733ca9;
    --pink: #ea5092;
    --yellow: #f9f962;
    --red: #c31c41;
}

* {
    color: white;
}

html {
    background-size: cover;
    background-image: linear-gradient(var(--purple), var(--lilac));
}

body {
    min-height: 100vh;
    margin: 0;
}